@model WebTraSua_197.Models.EF.ViewGH

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ViewGH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkAnhSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkAnhSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Da)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Da)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topping)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topping)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenNguoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNguoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhThucThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhThucThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayThang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaGioHang }) |
    @Html.ActionLink("Back to List", "Index")
</p>
