@model WebTraSua_197.Models.EF.Size

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Size</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SanPham.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanPham.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSize }) |
    @Html.ActionLink("Back to List", "Index")
</p>
